<?xml version='1.0' ?>
<config>
    <modules>
        <SM_ProductLabel>
            <version>0.2.0</version>
        </SM_ProductLabel>
    </modules>
    <frontend>
        <!--<catalog>-->
            <!--<args>-->
                <!--<modules>-->
                    <!--<SM_ProductLabel before="Mage_Catalog">SM_ProductLabel</SM_ProductLabel>-->
                <!--</modules>-->
            <!--</args>-->
        <!--</catalog>-->
        <layout>
            <updates>
                <sm_product_label>
                    <file>sm/product_label.xml</file>
                </sm_product_label>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <product_label>
                <use>admin</use>
                <args>
                    <module>SM_ProductLabel</module>
                    <frontName>product_label</frontName>
                </args>
            </product_label>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sm_product_label>
                    <file>sm/product_label.xml</file>
                </sm_product_label>
            </updates>
        </layout>
        <menu>
            <sm>
                <title>SM</title>
                <sort_order>91</sort_order>
                <children>
                    <product_label translte="title" module="product_label">
                        <title>Mage Product Label</title>
                        <sort_order>3</sort_order>
                        <action>product_label/adminhtml_label</action>
                    </product_label>
                </children>
            </sm>
        </menu>
    </adminhtml>
    <global>
        <blocks>
            <sm_product_label>
                <class>SM_ProductLabel_Block</class>
            </sm_product_label>
            <!--<sm_filter>-->
                <!--<rewrite>-->
                    <!--<filter_product_list>SM_ProductLabel_Block_Product_Label</filter_product_list>-->
                <!--</rewrite>-->
            <!--</sm_filter>-->
        </blocks>
        <helpers>
            <product_label>
                <class>SM_ProductLabel_Helper</class>
            </product_label>
        </helpers>
        <models>
            <label>
                <class>SM_ProductLabel_Model</class>
                <resourceModel>label_resource</resourceModel>
            </label>
            <label_resource>
                <class>SM_ProductLabel_Model_Resource</class>
                <entities>
                    <label>
                        <table>sm_product_label</table>
                    </label>
                </entities>
            </label_resource>
        </models>
        <resources>
            <sm_product_label_setup>
                <setup>
                    <module>SM_ProductLabel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_product_label_setup>
            <sm_product_label_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sm_product_label_write>
            <sm_product_label_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sm_product_label_read>
        </resources>
    </global>
</config>