<?xml version="1.0"?>
<config>
    <modules>
        <SM_MegaMenu>
            <version>0.1.0</version>
        </SM_MegaMenu>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_mega_menu>
                    <file>sm/mega_menu.xml</file>
                </sm_mega_menu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <mega_menu>
                <use>admin</use>
                <args>
                    <module>SM_MegaMenu</module>
                    <frontName>mega_menu</frontName>
                </args>
            </mega_menu>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mega_menu>
                    <file>sm/mega_menu.xml</file>
                </mega_menu>
            </updates>
        </layout>
        <menu>
            <sm>
                <title>SM</title>
                <sort_order>91</sort_order>
                <children>
                    <items translte="title" module="mega_menu">
                        <title>Manage Mega Menu</title>
                        <sort_order>0</sort_order>
                        <action>mega_menu/adminhtml_menu</action>
                    </items>
                </children>
            </sm>
        </menu>
    </adminhtml>
    <global>
        <blocks>
            <sm_mega_menu>
                <class>SM_MegaMenu_Block</class>
            </sm_mega_menu>
        </blocks>
        <helpers>
            <mega_menu>
                <class>SM_MegaMenu_Helper</class>
            </mega_menu>
        </helpers>
        <models>
            <menu>
                <class>SM_MegaMenu_Model</class>
                <resourceModel>menu_resource</resourceModel>
            </menu>
            <menu_resource>
                <class>SM_MegaMenu_Model_Resource</class>
                <entities>
                    <menu>
                        <table>sm_mega_menu_group</table>
                    </menu>
                    <items>
                        <table>sm_mega_menu_items</table>
                    </items>
                </entities>
            </menu_resource>
        </models>
        <resources>
            <sm_mega_menu_setup>
                <setup>
                    <module>SM_MegaMenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_mega_menu_setup>
            <sm_mega_menu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sm_mega_menu_write>
            <sm_mega_menu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sm_mega_menu_read>
        </resources>
    </global>
</config>