<?xml version="1.0"?>
<config>
    <modules>
        <SM_Featured>
            <version>0.1.0</version>
        </SM_Featured>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_featured>
                    <file>sm/featured.xml</file>
                </sm_featured>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <sm_featured>
                <class>SM_Featured_Block</class>
            </sm_featured>
        </blocks>
        <helpers>
            <featured>
                <class>SM_Featured_Helper</class>
            </featured>
        </helpers>
        <models>
            <featured>
                <class>SM_Featured_Model</class>
            </featured>
        </models>
        <resources>
            <sm_featured_setup>
                <setup>
                    <module>SM_Featured</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_featured_setup>
            <sm_featured_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sm_featured_write>
            <sm_featured_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sm_featured_read>
        </resources>
    </global>
</config>