<?xml version="1.0"?>
<config>
    <modules>
        <SM_Slider>
            <version>0.1.0</version>
        </SM_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>SM_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <sm_slider>
                    <file>sm/slider.xml</file>
                </sm_slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <slider>
                <use>admin</use>
                <args>
                    <module>SM_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <slider>
                    <file>sm/slider.xml</file>
                </slider>
            </updates>
        </layout>
        <menu>
            <sm>
                <title>SM</title>
                <sort_order>91</sort_order>
                <children>
                    <slider translte="title" module="slider">
                        <title>Manage Slider</title>
                        <sort_order>1</sort_order>
                        <action>slider/adminhtml_slider</action>
                    </slider>
                </children>
            </sm>
        </menu>
    </adminhtml>
    <global>
        <blocks>
            <sm_slider>
                <class>SM_Slider_Block</class>
            </sm_slider>
        </blocks>
        <helpers>
            <slider>
                <class>SM_Slider_Helper</class>
            </slider>
        </helpers>
        <models>
            <slider>
                <class>SM_Slider_Model</class>
                <resourceModel>slider_resource</resourceModel>
            </slider>
            <slider_resource>
                <class>SM_Slider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>sm_slider_slider</table>
                    </slider>
                    <image>
                        <table>sm_slider_image</table>
                    </image>
                </entities>
            </slider_resource>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>SM_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
    </global>
</config>